<div class="flex-grow-1 d-flex justify-content-center">
    <div class="container mt-5 mb-5 bg-light rounded-3 p-5 shadow-lg" style="max-width: 800px;">
        <a href="/administrador/dashboard" class="btn btn-info">Ir al dashboard</a>

        <div class="container mt-5">
            <div class="card mx-auto" style="max-width: 500px;">
                <div class="card-header text-center">
                    <h3>Ver cantidad de preguntas respondidas correctamente</h3>
                    <h4>Filtrar por fecha:</h4>
                </div>
                <div class="card-body">
                    <form action="/administrador/verCantidadPreguntasRespondidasCorrectamente" method="POST">
                        <!-- Selector de Filtro -->
                        <div class="mb-3">
                            <label for="filtro" class="form-label">Selecciona un filtro:</label>
                            <select id="filtro" name="filtro" class="form-select" required>
                                <option value="" disabled selected>Elige una opción</option>
                                <option value="dia">Día</option>
                                <option value="semana">Semana</option>
                                <option value="mes">Mes</option>
                                <option value="anio">Año</option>
                            </select>
                        </div>
                        <!-- Selector de Fecha -->
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Selecciona la fecha:</label>
                            <input type="date" id="fecha" name="fecha" class="form-control" required>
                        </div>
                        <!-- Botón de Envío -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>




</div>