<link rel="stylesheet" href="/styles/stylesLobby.css">
<title>Trivia Master - Login</title>
<link rel="icon" href="/public/image/logo-cerebro-solo.png" type="image/x-icon">
<div class="flex-grow-1 ">
<div class="container mt-5 mb-5 bg-light">
    {{#lobby}}
    <div class="encabezado">
        <div class="enlace-ver-perfil">
            <img src="/public/image/userprofileicon.jpg" alt="Foto de perfil" class="foto-perfil">
            <a href="/perfil/mostrarPerfil">Mi perfil</a>
        </div>
        <img src="/public/image/logo.png" alt="Trivia Master" class="logo">
        <a href="/login/logout">Logout</a>

    </div>

        <h1>Bienvenido usuario con el id: {{loggedUserId}}</h1>
        <h2>Usuario: {{username}}</h2>
    <div class="buttons">
        <button>Crear partida</button>
        <button>Ver ranking</button>
        <button>Ver partidas anteriores</button>
        <button>Crear nuevas preguntas</button>
    </div>
    {{/lobby}}
</div>
</div>
