<div class="flex-grow-1 ">
<div class="container mt-5 mb-5 bg-light">
    {{#loggedUserId}}
        <a href="/perfil/mostrarPerfil">Ir a mi perfil</a>
        <h1>Bienvenido usuario con el id: {{loggedUserId}}</h1>
        <h2>Usuario: {{username}}</h2>
    {{/loggedUserId}}
</div>
</div>
