<style>
    @media (max-width: 576px) {
        .img-cerebro{
            width: 150px !important;
        }


    }

</style>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!-- Lado izquierda -->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column" style="background: #103cbe;">
            <div class="featured-image mb-3">
                <img src="/public/image/brain.png" class="img-fluid img-cerebro" style="width: 250px;" alt="cerebro">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Arial, monospace; font-weight: 600;">Sé competitivo</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Disfrutá la experiencia de poner a prueba tu intelecto.</small>
            <br>
        </div>
            <!-- Lado derecho -->
        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Hola</h2>
                    <p>Estamos felices de verte</p>
                </div>
                <form method="POST" action="/login/validate">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Ingresá tu usuario" name="username" id="username">
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Ingresá tu contraseña" name="password" id="password">
                    </div>
                    <div class="input-group mb-5 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck">
                            <label for="formCheck" class="form-check-label text-secondary"><small>Recuerdame</small></label>
                        </div>
                        <div class="forgot">
                            <small><a href="#">Olvidaste tu contraseña?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6" type="submit">Iniciar sesión</button>
                    </div>
                    <div class="row">
                        <small class="register-button">No tenés una cuenta? <a href="/registro/listar">Registráte!</a></small>
                    </div>
                    {{#auth_error}}
                        <span><p>Usuario y/o contraseña incorrectos</p></span>
                    {{/auth_error}}
                </form>
            </div>

        </div>
    </div>

</div>


