<div class="flex-grow-1 ">
    <div class="container mt-5">
        <a href="/lobby/listar">Ir al lobby</a>
        <h1 class="text-center mb-4">Mis Partidas</h1>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped align-middle">
                <thead class="table-dark text-center">
                <tr>
                    <th scope="col">ID de Partida</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Puntaje</th>

                </tr>
                </thead>
                <tbody>
                {{#misPartidas}}
                    <tr class="text-center">
                        <td>{{id_partida}}</td>
                        <td>{{fecha_partida}}</td>
                        <td>{{estado_partida}}</td>
                        <td>{{puntaje_total}}</td>
                    </tr>
                {{/misPartidas}}
                </tbody>
            </table>
        </div>
    </div>

</div>