<div class="flex-grow-1">
    <div class="container mt-5">
        <!-- Botón para volver al lobby -->
        <div class="d-flex justify-content-start mb-3">
            <a href="/lobby/listar" class="btn btn-info">Volver al lobby</a>
        </div>

        <!-- Tabla de Mejor Partida -->
        <h3 class="text-center mb-3">Mejor partida</h3>
        <div class="table-responsive mb-5">
            <table class="table table-hover table-bordered table-striped align-middle table-sm">
                <thead class="table-dark text-center">
                <tr>
                    <th scope="col" class="text-nowrap">ID de Partida</th>
                    <th scope="col" class="text-nowrap">Fecha</th>
                    <th scope="col" class="text-nowrap">Estado</th>
                    <th scope="col" class="text-nowrap">Puntaje</th>
                </tr>
                </thead>
                <tbody>
                {{#mejorPartida}}
                    <tr class="text-center">
                        <td>{{id_partida}}</td>
                        <td>{{fecha_partida}}</td>
                        <td>{{estado_partida}}</td>
                        <td>{{puntaje_total}}</td>
                    </tr>
                {{/mejorPartida}}
                </tbody>
            </table>
        </div>

        <!-- Tabla de Mis Partidas -->
        <h3 class="text-center mb-3 mt-4">Mis Partidas</h3>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped align-middle table-sm">
                <thead class="table-dark text-center">
                <tr>
                    <th scope="col" class="text-nowrap">ID de Partida</th>
                    <th scope="col" class="text-nowrap">Fecha</th>
                    <th scope="col" class="text-nowrap">Estado</th>
                    <th scope="col" class="text-nowrap">Puntaje</th>
                </tr>
                </thead>
                <tbody>
                {{#misPartidas}}
                    <tr class="text-center">
                        <td>{{id_partida}}</td>
                        <td>{{fecha_partida}}</td>
                        <td>{{estado_partida}}</td>
                        <td>{{puntaje_total}}</td>
                    </tr>
                {{/misPartidas}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<style>
    /* Ajuste del tamaño de texto en pantallas celulares */
    @media (max-width: 768px) {
        .table th, .table td {
            font-size: 0.9rem; /* Reduce el tamaño de texto */
            white-space: normal; /* Permite que el texto se divida en varias líneas */
            word-wrap: break-word; /* Divide las palabras largas */
        }
    }
</style>
