<div class="flex-grow-1 ">
    <div class="container mt-5 ">
        <h1>INCORRECTO</h1>
        <h2>Tus puntos son: {{puntaje}}</h2>


        <a href="/lobby/listar">Volver al lobby</a>
    </div>
</div>




