<div class="flex-grow-1">
    <div class="container mt-5 mb-5 bg-light">
        <h1>Pregunta</h1>
        <!-- Muestra la descripción de la pregunta -->
        <p>{{pregunta}}</p>

        <h2>Respuestas</h2>
        <form action="/partida/responder" method="POST">
            <!-- Campo oculto para enviar el id de la pregunta -->
            <input type="hidden" name="idPregunta" value="{{idPregunta}}">

            <ul>
                {{#respuestas}}
                    <li>
                        <input type="radio" id="respuesta-{{@index}}" name="respuesta" value="{{descripcion}}">
                        <label for="respuesta-{{@index}}">{{descripcion}}</label>
                    </li>
                {{/respuestas}}
            </ul>

            <input type="submit" value="Enviar Respuesta">
        </form>
    </div>
</div>
