<div class="flex-grow-1 ">
    <div class="container mt-5 mb-5 bg-light">
        {{#perfil}}
            <a href="/lobby/listar">Ir al lobby</a>
            <div class="container">
                <div class="img-container mx-auto" style="max-width: 300px;">
                    <img src="{{foto_perfil}}" class="img-fluid" alt="Descripción de la imagen">
                </div>
            </div>
            <h1>Bienvenido usuario con el id: {{loggedUserId}}</h1>
            <h2>Usuario: {{usuario}}</h2>
            <h3>Nombre completo: {{nombre_completo}}</h3>
            <h4>Fecha nacimiento: {{fecha_nacimiento}}</h4>
            <h5>Genero: {{genero}}</h5>
            <h6>Email: {{email}}</h6>
            <h6>Pais: {{pais}}</h6>
        {{/perfil}}
    </div>
</div>