<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesPerfil.css">
    <title>Perfil de Usuario</title>
</head>
<body>
<div class="perfil">
{{#perfil}}
    <a href="/lobby/listar">Ir a al lobby</a>
    <div class="foto_y_nombre">
        <img src="/public/image/userprofileicon.jpg" alt="Foto de perfil" class="foto-perfil">
        <h1 class="nombre-usuario">{{usuario}}</h1>
    </div>

    <form id="perfilForm" method="POST" >
        <div class="informacion">

            <label for="nombreCompleto">Nombre Completo:</label>
            <input type="text" name="nombreCompleto" id="nombreCompleto" value="{{nombre_completo}}">

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value="{{usuario}}" disabled>

            <label for="anoNacimiento">Año de Nacimiento:</label>
            <input type="text" name="anoNacimiento" id="anoNacimiento" value="{{fecha_nacimiento}}">

            <label for="pais">País:</label>
            <input type="text" name="pais" id="pais" value="{{pais}}">

            <label for="genero">Género:</label>
            <input type="text" name="genero" id="genero" value="{{genero}}">

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="{{email}}">

        </div>
    </form>
    {{/perfil}}
</div>

</body>
</html>
