<div class="flex-grow-1">
    <div class="container mt-5 mb-5 p-4 bg-light shadow rounded">
        {{#perfil}}
            <div class="text-end mb-3">
                <a href="/lobby/listar" class="btn btn-primary">Ir al Lobby</a>
            </div>
            <div class="text-center">
                <div class="img-container mx-auto mb-4" style="max-width: 300px;">
                    <img src="{{foto_perfil}}" class="img-fluid rounded-circle" alt="Foto de perfil">
                </div>
                <h1 class="mb-2">¡Bienvenido!</h1>
                <p class="text-muted">Usuario ID: <strong>{{id}}</strong></p>
                <h2>Usuario: {{usuario}}</h2>
                <h3>Nombre completo: {{nombre_completo}}</h3>
                <h4>Fecha de nacimiento: {{fecha_nacimiento}}</h4>
                <h5>Género: {{genero}}</h5>
                <h6>Email: {{email}}</h6>
            </div>
            <div class="mt-4">
                <h6 class="text-center">Es de: <strong>{{ciudad}}, {{pais}}</strong></h6>
                <div id="map" class="mt-3" style="width: 100%; height: 400px;"></div>
            </div>
        {{/perfil}}

        {{#perfilRival}}
            <div class="text-end mb-3">
                <a href="/lobby/listar" class="btn btn-primary">Ir al Lobby</a>
            </div>
            <div class="text-center">
                <div class="img-container mx-auto mb-4" style="max-width: 300px;">
                    <img src="/public/image/{{foto_perfil}}" class="img-fluid rounded-circle mb-3" alt="Foto de perfil">
                    <img src="/public/QRs/{{usuario}}.png" class="img-fluid" alt="QR del usuario">
                </div>
                <h2>Usuario: {{usuario}}</h2>
                <h3>Nombre completo: {{nombre_completo}}</h3>
                <h4>Fecha de nacimiento: {{fecha_nacimiento}}</h4>
                <h5>Género: {{genero}}</h5>
                <h6>Email: {{email}}</h6>
                <h6>Juega desde: {{fecha_creacion}}</h6>
            </div>
            <div class="mt-4">
                <h6 class="text-center">Es de: <strong>{{ciudad}}, {{pais}}</strong></h6>
                <div id="map" class="mt-3" style="width: 100%; height: 400px;"></div>
            </div>
            <div class="mt-5">
                <h2 class="text-center">Puntaje total acumulado: <span class="badge bg-success">{{puntaje_total}}</span></h2>
            </div>
            <div class="mt-4">
                <h2 class="text-center mb-4">Mejor Partida</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped align-middle">
                        <thead class="table-dark text-center">
                        <tr>
                            <th>ID de Partida</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Puntaje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#mejor_partida}}
                            <tr class="text-center">
                                <td>{{id_partida}}</td>
                                <td>{{fecha_partida}}</td>
                                <td>{{estado_partida}}</td>
                                <td>{{puntaje_total}}</td>
                            </tr>
                        {{/mejor_partida}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-4">
                <h2 class="text-center mb-4">Todas las Partidas</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped align-middle">
                        <thead class="table-dark text-center">
                        <tr>
                            <th>ID de Partida</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Puntaje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#partidas}}
                            <tr class="text-center">
                                <td>{{id_partida}}</td>
                                <td>{{fecha_partida}}</td>
                                <td>{{estado_partida}}</td>
                                <td>{{puntaje_total}}</td>
                            </tr>
                        {{/partidas}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/perfilRival}}
    </div>
</div>

<script>
    var map = L.map('map').setView([20.5937, 78.9629], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    function getCoordinates(country, city) {
        var url = `https://nominatim.openstreetmap.org/search?format=json&country=${country}&city=${city}`;
        fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        var lat = data[0].lat;
                        var lon = data[0].lon;
                        map.setView([lat, lon], 10);
                        L.marker([lat, lon]).addTo(map).bindPopup(`Ciudad: ${city}, País: ${country}`);
                    } else {
                        console.log('No se encontraron coordenadas para la ciudad y país especificados.');
                    }
                })
                .catch(error => console.log('Error fetching data: ', error));
    }
    getCoordinates('{{pais}}', '{{ciudad}}');
</script>
