<div class="flex-grow-1">
    <div class="container mt-5 mb-5 bg-light p-4 rounded shadow">
        {{#perfil}}
            <a href="/lobby/listar" class="btn btn-info mb-3">Volver al lobby</a>

            <div class="text-center mb-4">
                <div class="img-container mx-auto rounded-circle overflow-hidden" style="width: 150px; height: 150px;">
                    <img src="{{foto_perfil}}" class="img-fluid" alt="Foto de perfil">
                </div>
                <h2 class="mt-3">Bienvenido usuario con el ID: {{id}}</h2>
                <p class="lead">Usuario: <strong>{{usuario}}</strong></p>
                <p>Nombre completo: <strong>{{nombre_completo}}</strong></p>
                <p>Fecha de nacimiento: <strong>{{fecha_nacimiento}}</strong></p>
                <p>Género: <strong>{{genero}}</strong></p>
                <p>Email: <strong>{{email}}</strong></p>
            </div>

            <div class="container my-4">
                <div class="row">
                    <div class="col-12">
                        <div id="map" class="border rounded" style="width: 100%; height: 400px;"></div>
                        <h5 class="mt-3 text-center">Es de {{ciudad}}, {{pais}}</h5>
                    </div>
                </div>
            </div>
        {{/perfil}}

        {{#perfilRival}}
            <a href="/lobby/listar" class="btn btn-primary mb-3">Ir al lobby</a>

            <div class="text-center mb-4">
                <div class="img-container mx-auto rounded-circle overflow-hidden" style="width: 150px; height: 150px;">
                    <img src="{{foto_perfil}}" class="img-fluid" alt="Foto de perfil">
                </div>
                <h3 class="mt-3">Usuario: <strong>{{usuario}}</strong></h3>
                <p>Nombre completo: <strong>{{nombre_completo}}</strong></p>
                <p>Fecha de nacimiento: <strong>{{fecha_nacimiento}}</strong></p>
                <p>Género: <strong>{{genero}}</strong></p>
                <p>Email: <strong>{{email}}</strong></p>
                <p>Juega desde: <strong>{{fecha_creacion}}</strong></p>
            </div>

            <div class="container my-4">
                <div class="row">
                    <div class="col-12">
                        <div id="map" class="border rounded" style="width: 100%; height: 400px;"></div>
                        <h5 class="mt-3 text-center">Es de {{ciudad}}, {{pais}}</h5>
                    </div>
                </div>
            </div>

            <h2 class="text-center mb-4">Puntaje total acumulado: {{puntaje_total}}</h2>

            <h3 class="text-center">Mejor Partida</h3>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped align-middle">
                    <thead class="table-dark text-center">
                    <tr>
                        <th scope="col">ID de Partida</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Puntaje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#mejor_partida}}
                        <tr class="text-center">
                            <td>{{id_partida}}</td>
                            <td>{{fecha_partida}}</td>
                            <td>{{estado_partida}}</td>
                            <td>{{puntaje_total}}</td>
                        </tr>
                    {{/mejor_partida}}
                    </tbody>
                </table>
            </div>

            <h3 class="text-center mt-5">Todas las Partidas</h3>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped align-middle">
                    <thead class="table-dark text-center">
                    <tr>
                        <th scope="col">ID de Partida</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Puntaje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#partidas}}
                        <tr class="text-center">
                            <td>{{id_partida}}</td>
                            <td>{{fecha_partida}}</td>
                            <td>{{estado_partida}}</td>
                            <td>{{puntaje_total}}</td>
                        </tr>
                    {{/partidas}}
                    </tbody>
                </table>
            </div>
        {{/perfilRival}}
    </div>
</div>

<script>
    // JavaScript para inicializar el mapa y obtener coordenadas
    var map = L.map('map').setView([20.5937, 78.9629], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var pais = '{{pais}}';
    var ciudad = '{{ciudad}}';

    function getCoordinates(country, city) {
        var url = `https://nominatim.openstreetmap.org/search?format=json&country=${country}&city=${city}`;

        fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        var lat = data[0].lat;
                        var lon = data[0].lon;
                        map.setView([lat, lon], 10);
                        L.marker([lat, lon]).addTo(map).bindPopup(`Ciudad: ${city}, País: ${country}`);
                    } else {
                        console.log('No se encontraron coordenadas.');
                    }
                })
                .catch(error => console.log('Error fetching data: ', error));
    }
    getCoordinates(pais, ciudad);
</script>
