
<div class="flex-grow-1 ">


    <div class="container mt-5 ">
        <div class="d-flex justify-content-end mb-4 p-2">
            <a href="/lobby/listar" class="btn btn-danger m-1">Ir al lobby</a>
        </div>
        <h1>PREGUNTA SUGERIDA ENVIADA!</h1>
    </div>

</div>

