<div class="flex-grow-1 ">


    <div class="container mt-5 ">
        <!-- Encabezado h2 -->
        <h1 class="mb-4">Tienes una partida pendiente para reanudar!</h1>

        <a href="/partida/reanudarPartida" class="btn btn-primary mb-2 me-2">Reanudar partida</a>
        <a href="/partida/crearPartida" class="btn btn-info mb-2 me-2">Nueva partida</a>

    </div>

</div>