<link rel="icon" href="/public/image/logo-cerebro-solo.png" type="image/x-icon">
<title>Trivia Master - Registro</title>
<div class="flex-grow-1 ">
    <div class="container mt-5 mb-5 bg-light">
        <div class="text-center p-3">
            <h2>Registro de Usuario</h2>
        </div>

        <div class="container mt-5">
            <h2 class="text-center">Resultado:</h2>
            <br>
            <span>Su registracion fue: "{{registro}}"</span>
            <br>
            <a href="/registro/listar">Volver al registro</a>
            <br>
            <a href="/login/listar">Ir al login</a>
        </div>


    </div>
</div>