
<div class="flex-grow-1 ">

    <div class="container mt-5 ">
        <h2>REPORTE ENVIADO!</h2>

        <br>


        <a href="/partida/preguntar" class="btn btn-info">Siguiente pregunta</a>

    </div>


</div>