
<div class="flex-grow-1 ">


    <div class="container mt-5 ">
        <!-- Encabezado h2 -->
        <h1 class="mb-4">REPORTE: </h1>
        <h2>ID PREGUNTA REPORTADA {{preguntaReportada}}</h2>

    </div>

</div>

