
<div class="flex-grow-1 ">

    <div class="container mt-5 ">
        <h2>REPORTE ENVIADO!</h2>
        <br>
        <a href="/partida/jugar" class="btn btn-info">Siguiente pregunta</a>
        <a href="#" class="btn btn-info">Salir del juego</a>
    </div>


</div>

