
<div class="flex-grow-1 ">

    <div class="container mt-5 ">
        <h2>REPORTE ENVIADO!</h2>
        <h3>USUARIO QUE REPORTE: {{idUsuarioQueReporta}}</h3>
        <h4>LA PREGUNTA REPORTADA: {{preguntaReportada}}</h4>
        <br>
        <a href="/lobby/listar" class="btn btn-info">Ir al lobby</a>

    </div>


</div>

