<div class="flex-grow-1 ">
    <div class="container mt-5 mb-5 bg-light">

            <h2>Respuesta: {{mensaje}}</h2>
            <p>Desea reportar la pregunta?</p>
            <a href="/reportar/reportePregunta">Reportar</a>
            <p>Desea seguir jugando?</p>
            <a href="/partida/siguientePregunta">Seguiente pregunta</a>

    </div>
</div>
