<div class="flex-grow-1 d-flex justify-content-center">



    <div class="container mt-5 mb-5 bg-light rounded-3 p-5 shadow-lg" style="max-width: 800px;">
        <a href="/lobby/listar" class="btn btn-info">Ir al lobby</a>
        <a href="/administrador/dashboard" class="btn btn-info">Ir al dashboard</a>
        <a href="/administrador/cantidadPartidasJugadas" class="btn btn-info">Ir al formulario</a>
        <a href="/administrador/imprimirCantidadPartidasJugadas?filtro={{filtro}}&fecha={{fecha}}&resultado={{resultado}}&uniqueId={{uniqueId}}" class="btn btn-danger" target="_blank">Ver pdf</a>

        <h2 style="margin-top: 20px">La cantidad de partidas jugadas por {{filtro}} en la fecha '{{fecha}}' es: {{resultado}}</h2>


        <img src="{{grafico}}" alt="Gráfico de cantidad de jugadores" class="img-fluid">

    </div>


</div>